
.menu {
	width: 100%;
	background-color: white;
	position: fixed;
	z-index: 2;
}
.menu-container {
margin: 0 auto;
}
.menu a.logo {
	display: inline-block;
	padding: .5em 1em;
	width: 60%;
}
.menu img {
	max-width: 100%;
}
.menu-mobile {
display: none;
padding: 20px;
}
.menu-mobile:after {
content: "\f0c9";
font-family: "FontAwesome";
font-size: 1.2rem;
padding: 0;
float: right;
width: 100%;
position: relative;
color: black;
top: 50%;
-webkit-transform: translateY(-25%);
				transform: translateY(-25%);
}

.menu > ul {
margin: 0 auto;
width: 80%;
list-style: none;
padding: 0;
position: relative;
/* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
box-sizing: border-box;
		clear: right;
}

.menu > ul > li {
float: left;
text-align: center;
padding: 0;
margin: 0;
}
.menu > ul > li a {
	display: block;
	padding: 12px 20px;
	margin: 2px 5px;
	text-decoration: none;
	transition: .2s;
	font-size: 11px;
	line-height: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: #383838;
	letter-spacing: .1em;
	font-family: "Quicksand";
}
.menu > ul > li:hover, .menu > ul > li > ul > li:hover {
background: #f66e5e;
}
.menu > ul > li > a:hover {
	color: #fff;
	}
.menu > ul > li > ul {
display: none;
width: 100%;
background-color: #f3f3f3;
position: absolute;
z-index: 99;
left: 0;
margin: 0;
list-style: none;
box-sizing: border-box;
}
.menu > ul > li > ul > li {
margin: 0;
padding-bottom: 0;
list-style: none;
width: 25%;
background: none;
float: left;
}
.menu > ul > li > ul > li a {
color: #383838;
padding: .2em 0;
display: block;
border-bottom: 1px solid #ccc;
}
.menu > ul > li > ul > li a:hover{
color:#fff;
}
.menu > ul > li > ul > li > ul {
display: block;
padding: 0;
margin: 10px 0 0;
list-style: none;
box-sizing: border-box;
}
.menu > ul > li > ul > li > ul > li {
float: left;
width: 100%;
padding: 10px 0;
margin: 0;
font-size: .8em;
}
.menu > ul > li > ul > li > ul > li a {
border: 0;    
font-size: 14px;
}
.menu > ul > li > ul.normal-sub {
width: 300px;
left: auto;
}
.menu > ul > li > ul.normal-sub > li {
width: 100%;
}
.menu > ul > li > ul.normal-sub > li a {
border: 0;
padding: 1em 0;
}
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media only screen and (max-width: 767px) {
	.menu-container {
		width: 100%;
	}
	.menu-container .menu{
		display:inline-block;
	}
	.menu-mobile {
		display: block;    
		float: right;    
		padding: 10px 20px 0;
	}
	.menu-dropdown-icon:before {
		display: block;
	}
	.menu > ul {
		display: none;
		width:100%;
	}
	.menu > ul > li {
		width: 100%;
		float: none;
		display: block;
	}
	.menu > ul > li a {
		padding: 1.5em;
		display: block;
	}
	.menu > ul > li > ul {
		position: relative;    
	}
	.menu > ul > li > ul.normal-sub {
		width: 100%;
	}
	.menu > ul > li > ul > li {
		float: none;
		width: 100%;
		margin-top: 20px;
	}
	.menu > ul > li > ul > li:first-child {
		margin: 0;
	}
	.menu > ul > li > ul > li > ul {
		position: relative;
	}
	.menu > ul > li > ul > li > ul > li {
		float: none;
	}
	.menu .show-on-mobile {
		display: block;
		margin: 0;
    padding: 0;
    font-size: 0.875em;
    max-height: 80vh;
    overflow-y: auto;
    list-style: none;
	}

}

@media only screen and (min-width: 768px) {
	.menu-container {
		display: none;
	}
}