.category .section-item{
  width: 100%;
  text-align: center;
}

.contact-title {
  font-family: "Fanwood Text";
  font-size: 23px;
  font-weight: 400;
}

.icon{
  width: 50px;
  margin: 0 auto;
}

.email {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  font-family: "Quicksand";
}

.follow-container {
  position: relative;
  background-image: url("../images/shadow.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 16px;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-background-overlay{
  background-color: #fafafa;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.follow-me {
  text-align: center;
  font-family: "Fanwood Text";
  font-size: 34px;
  font-weight: 400;
}

.widget-container {
  padding: 30px
}

.divider {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #d8d8d8;
  width: 100%;
  position: relative;
  z-index: -1;
}

.divider-widget{
  margin: 0px 0px -35px 0px;
  text-align: center;
}

.contact-icon{
  width: 85px;
  vertical-align: middle;
  display: inline-block;
}

.social-link{
  position: relative;
  display: inline-block;
  margin: 0 10px 15px 0;
  background-color: transparent;
  width: 55px;
  height: 55px;
  font-size: 18px;
  line-height: 55px;
  text-align: center;
  border: none;
  box-shadow: 0px 3px 10px -7px rgba(0, 0, 0, 0.3);
  color: #a2a2a2;
  font-weight: 600;
}

.social-link:hover, .social-link::selection{
  background-color: #f66e5e;
  color: white;
}

.contact-details {
  font-size: 18px;
  font-family: "Quicksand";
  text-align: center;
  font-weight: 400;
  color: #7a7a7a;
  margin: 30px 10px 50px;
}

@media only screen and (min-width: 768px) {
  .contact-details{
    /* margin: 10px 12px 25px; */
    font-size: 20px;
  }
}

@media only screen and (min-width: 1025px) {

  .widget-container {
    max-width: 1140px;
    margin: 0 auto;
  }
}