.main-navigation{
  display: none;
}

.main-navigation.scrolled {
  background-color: white;
  transition: background-color 200ms linear;  
}

.nav-items{
  display: none;
}

.inactive {
  cursor: default;
}

.logo, .logo-alt{ 
  display: none
}

@media only screen and (min-width: 768px){
  .main-navigation{
    display: block;
    width: 100%;
    background-color: transparent;
    position: fixed;
    top:0;
    padding-bottom: 15px;
    left: 0;
    z-index:1
  }
  .is-nav-offset{
    display: none;
  }
  .logo, .logo-alt{ 
    display: block;
    padding-left: 10px;
  }
  .breaker{
    padding-top: 75px;
  }
  
  .nav-items {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-item {
    font-family: "Quicksand";
    margin-right: 25px;
    position: relative;
  }

  .current-item::after {
    position: absolute;
    content: '';
    bottom: 5px;
    left: 0;
    background-color: #f66e5e;
    height: 2px;
    width: 60%;
    transition: .2s;
  }

  .item-alt {
    color: white;
    font-weight: 600;
    font-size: 14px;
    padding: 8px 0;
    display: inline-block;
  }

  .main-item {
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 0;
    display: inline-block;
  }
  
  .item {
    color: #484848;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 0;
    display: inline-block;
  }
  
  .item:hover {
    color: #f66e5e;
  }
  
  .item:hover::after, .item-alt:hover::after {
    position: absolute;
    content: '';
    bottom: 5px;
    left: 0;
    background-color: #f66e5e;
    height: 2px;
    width: 60%;
    transition: .2s;
  }
}

@media only screen and( min-width: 768px){
  .main-item {
    font-size: 16px;
  }
}

@media only screen and (min-width: 990px){
  .nav-items {
    margin-right: 50px;
  }
  .item, .item-alt {
    font-size: 16px;
  }
}